body{
    background-color: #bacdd8;
    margin-top: 0px;
    
}


#body2{
    background: radial-gradient(circle at center,red,black);
    margin-top: 0px;
    
}



html{
    margin-top: -21px;
    margin-left: -10px;
}

.ul1{
    display: block;
    margin-top: 0px;
    padding-left: 0;
    width: 90px;
    position: fixed;
    height: 100%;
    background-color: #ffc500;
    list-style-type: none;
    overflow: auto;
    
}

.ul1_body2{
    display: block;
    margin-top: 0px;
    padding-left: 0;
    width: 90px;
    position: fixed;
    height: 100%;
    background-color: rgba(139, 0, 139, 0.688);
    list-style-type: none;
    overflow: auto;
    
}


#h1{
    margin-left: 100px;
}

#img1{
    
    margin: 0px;   
    padding: 0px; 
}

#img2{
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: 0px;
   
    padding-left: 0px;
}

#img3{
    width: 25px;
    height: 25px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 35px;
}

#img3:hover{
    background-color: dimgray;
}


#img4{
    width: 29px;
    height: 29px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 33px;

}
#img4:hover{
    background-color: dimgray;
}

#img5{
    width: 25px;
    height: 25px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 35px;
}

#img5:hover{
    background-color: dimgray;
}


#img6{
    width: 25px;
    height: 20px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 35px;
}

#img6:hover{
    background-color: dimgray;
}


h1{
    padding-top: 100px;
    margin-left: 200px;
}
.box1{
   
  margin-left: 200px;
  margin-right: 400px;
  margin-bottom: 200px; 
  
  width: 800px;
  height: 1000px;
  background-color: #ffffff;
  border-radius: 50px;
}


.box1_body2{
   
    margin-left: 200px;
    margin-right: 400px;
    margin-bottom: 200px; 
    
    width: 800px;
    height: 1000px;
    background-color: #ffffff23;
    border-radius: 3%;
}
  

.box2{
   
    margin-left: 200px;
    margin-right: 400px;
    margin-bottom: 200px; 
    
    width: 800px;
    height: 1500px;
    background-color: #ffffff;
    border-radius: 100px;
  }


 #passage{
     margin-right: 350px;
     position: relative; 
     left: 130px; 
 }

 #site_underline{
    text-decoration:none;
    color: #328792;
    
}

#page2_img1{
    
    width: 200px; 
    height: 200px;
}
.ul2{
    display: inline;
    margin-top: 0px;
    width: 90px;
    height: 100%;
    position: relative;
    left: 100px;
}

#site_underline_color{
    text-decoration:none;
    color: #ff4d4d;
}

#page2_body{
    background: radial-gradient(circle at center,navy,black);
}

#page3_body{
    background: radial-gradient(circle at center,red,black);
    
}

.strong{
    padding-left: 150px;
    font-size: 20px;
}

#time_recorder{
    position: relative;
    left: 200px;
    font-size: 20px;
    color: #ff4d4d;
    animation: color_change 2s infinite;
}

@keyframes color_change {
    0%{
        color: darkgoldenrod;
    }     
    50%{
        color: darkred;
    }
    100%{
        color: darkgoldenrod;
    }
}


.shower{
    position: relative;
    left: 100px;
}




.picture_shower{
    margin-left: 50px;
    margin-top: -100px;
    width: 400px;
    height: 400px;
    border-radius:30px ;
}

.picture_shower:hover{
    filter: blur(5px);
    
}


#jiaji{
    position: relative;
    left: 170px;
    top: 10px;
    font-size: 25px;
}