body{
    background-color: #bacdd8;
    margin-top: 0px;
    
}

html{
    margin-top: -21px;
    margin-left: -10px;
}

.ul1{
    display: block;
    margin-top: 0px;
    padding-left: 0;
    width: 90px;
    position: fixed;
    height: 100%;
    background-color: #ffc500;
    list-style-type: none;
    overflow: auto;
    vertical-align: baseline;
}

#h1{
    margin-left: 100px;
}

#img1{
    
    margin: 0px;   
    padding: 0px; 
}

#img2{
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: 0px;
   
    padding-left: 0px;
}

#img3{
    width: 25px;
    height: 25px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 35px;
}

#img3:hover{
    background-color: dimgray;
}


#img4{
    width: 29px;
    height: 29px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 33px;

}
#img4:hover{
    background-color: dimgray;
}

#img5{
    width: 25px;
    height: 25px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 35px;
}

#img5:hover{
    background-color: dimgray;
}


h1{
    padding-top: 100px;
    margin-left: 200px;
}
.box1{
   
  margin-left: 200px;
  margin-right: 400px;
  margin-bottom: 200px; 
  
  width: 800px;
  height: 1000px;
  background-color: #ffffff;
  border-radius: 3%;
}
 #passage{
     margin-right: 350px;
     position: relative; 
     left: 130px; 
 }

 #site_underline{
    text-decoration:none;
    color: #328792;
}

#page2_img1{
    
    width: 200px; 
    height: 200px;
}
.ul2{
    display: inline;
    margin-top: 0px;
    width: 90px;
    height: 100%;
    position: relative;
    left: 100px;
}

#site_underline_color{
    text-decoration:none;
    color: #ff4d4d;
}
