body{
    background-color: #bacdd8;
    margin-top: 0px;
    
}

html{
    margin-top: -21px;
    margin-left: -10px;
}

.ul1{
    display: block;
    margin-top: 0px;
    padding-left: 0;
    width: 90px;
    position: fixed;
    height: 100%;
    background-color: #ffc500;
    list-style-type: none;
    overflow: auto;
}

#h1{
    margin-left: 100px;
}

#img1{
    
    margin: 0px;   
    padding: 0px; 
}

#img2{
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: 0px;
   
    padding-left: 0px;
}

#img3{
    width: 25px;
    height: 25px;
    margin-left: -45px;
    margin-top: 0px;
    padding: 35px;
}

h1{
    padding-top: 100px;
    margin-left: 200px;
}
.box1{
   
  margin-left: 200px;
  margin-right: 400px;
  margin-bottom: 200px;
  
  width: 800px;
  height: 1000px;
  background-color: #ffffff;

}
 #passage{
     margin-right: 350px;
     position: relative; 
     left: 130px; 
 }

 #site_underline{
    text-decoration:none;
    color: #328792;
}

