body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:radial-gradient(circle at center, navy , black);
}

h1{
    position: relative;
    top: -200px;
    left: 300px;
}

.heart{
    width: 14em;
    height: 11em;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.heart span {
    width: 1em;
    --c: lightblue;
    --h:50%;
    --t:25%;
    background-color: var(--c);
    border-radius: 0.5em;
    position: relative;
    height: var(--h);
    top:var(--t);
    animation: beating 3s infinite;
}

.heart span:nth-child(1),
.heart span:nth-child(9){
    --c:orangered;
    --h:3em;
    --t:2.2em;
}


.heart span:nth-child(2),
.heart span:nth-child(8){
    --c:gold;
    --h:6em;
    --t:0.6em;
}


.heart span:nth-child(3),
.heart span:nth-child(7){
    --c:limegreen;
    --h:8em;
    --t:0;    
}


.heart span:nth-child(4),
.heart span:nth-child(6){
    --c:dodgerblue;
    --h:9em;
    --t:0.8em;
}


.heart span:nth-child(5){
    --c:mediumpurple;
    --h:9.4em;
    --t:1.6em;
}

@keyframes beating{
    0%,30%{
        height: var(--h);
        top:var(--t);
        background-color: var(--c);
        filter: blur(0);
        width: 1em;
    }
    60%,70%{
        height: 50%;
        top:25%;
        background-color: lightblue;
        filter: blur(5px);
        width: 0.1em;
    }
}